1. Write a program in Python to find the addition & average of three float numbers?

In [1]:
Num1=float(input("1st no : "))
Num2=float(input("2nd no : ")) 
Num3=float(input("3rd no : "))
sum= Num1+Num2+Num3
print(sum)
Avg=(sum/2)
print(Avg)

1st no :  10
2nd no :  20
3rd no :  30

60.0
30.0

2. Write a program in Python to find the volume of a sphere with radius 6cm?

In [3]:
import math
r = 6
vol=(4*math.pi*(r**3))/3
print(vol)

904.7786842338604

3. Write a program in Python to find the area of a circle?

In [71]:
import math
r = float(input("Radius : "))
Area = math.pi*r**2
print(Area)

Radius :  5

78.53981633974483

4. Write a program in Python to compute simple Interest?

In [69]:
p = float(input("p : "))
t = float(input("t : "))
r= float(input("r : "))
Interest=(p*t*r)/100
print(Interest)

p :  50
t :  20
r :  75

750.0

5. Write a program in Python to swap two numbers without using third variable?

In [67]:
a = float(input("a : "))
b = float(input("b : "))
a= a + b
b= a - b
a= a - b
print("a = ",a,"\n""b = ",b)

a :  5
b :  8

a =  8.0
b =  5.0

6. Write a program in Python to convert any temperature from Celcius to Fahrenheit?

In [65]:
C=float(input("C : "))
F=(C*(9/5))+32
print("F = ",F)

C :  50

F =  122.0

7. Write a program in Python to convert a given number of days into days, month, year and week?

In [23]:
d=int(input("Enter number of days:"))

temp=d%365
year=d//365
temp1=temp%30
month=temp//30
days=temp1%7
week=temp1//7

print(f"Number of year:{year}\nMonth:{month}\nWeek:{week}\nDays:{days}")

Enter number of days: 10

Number of year:0
Month:0
Week:1
Days:3

8. Write a Python Program to find the gravitational force acting between two objects.

[G=N*(m1*m2)/d^2]

In [63]:
d=float(input("Enter distance  between two object in meters:"))
m1=float(input("Enter first object weight in Kg:"))
m2=float(input("Enter second object weight in Kg:"))

G=6.674*10**11

F=G*(m1*m2)/d**2
print(f"Gravitational force between two object is {F}")

Enter distance  between two object in meters: 5
Enter first object weight in Kg: 20
Enter second object weight in Kg: 50

Gravitational force between two object is 26696000000000.0

9. Write a program in Python to find given no is Even or Odd?

In [61]:
n=float(input("Enter a number:"))

if n%2==0:
    print(f"The given number {n} is even")
else:
    print(f"The given number {n} is odd")

Enter a number: 5

The given number 5.0 is odd

10. Take input from user if it is greater than 15 print two times of difference if it’s less than 15 print four times of difference?

In [43]:
def calculate_difference(number):
    difference = abs(number - 15)
    
    if number > 15:
        result = 2 * difference
        print(f"The number is greater than 15. Two times the difference is: {result}")
    else:
        result = 4 * difference
        print(f"The number is less than 15. Four times the difference is: {result}")
number = int(input("Enter a number: "))
calculate_difference(number)

Enter a number:  10

The number is less than 15. Four times the difference is: 20

11. Write a program in Python to find largest among three numbers?

In [51]:
n1= float(input("Enter  number 1: "))
n2= float(input("Enter  number 2: "))
n3= float(input("Enter  number 3: "))

if (n1>n2 and n1>n3):
    print(f"{n1} is largest among of three number")
elif (n2>n1 and n2>n3):
    print(f"{n2} is largest among of three number")
else:
    print(f"{n3} is largest among of three number")

Enter  number 1:  5
Enter  number 2:  2
Enter  number 3:  10

10.0 is largest among of three number

12. Write a program in Python to check a triangle is equilateral,scalene or isosclees?

In [55]:
def check_triangle_type(a, b, c):
    if a == b == c:
        print("The triangle is Equilateral.")
    elif a == b or b == c or a == c:
        print("The triangle is Isosceles.")
    else:
        print("The triangle is Scalene.")
a = float(input("Enter the first side: "))
b = float(input("Enter the second side: "))
c = float(input("Enter the third side: "))
check_triangle_type(a, b, c)

Enter the first side:  4
Enter the second side:  5
Enter the third side:  6

The triangle is Scalene.

13.	Write a program in Python to check a given year is leapyear or not?

In [1]:
def is_leap_year(year):
    if (year % 4 == 0):
        if (year % 100 == 0):
            if (year % 400 == 0):
                return True
            else:
                return False
        else:
            return True
    else:
        return False
year = int(input("Enter a year: "))
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year:  2000

2000 is a leap year.

14.	Take marks of a student of four different subject find average depending on average find Grade(if marks >=75 i.e,’A’ or >=60 but <=75 i.e,’B’ or >=40 but <=60 i.e,’C’ or <=40 i.e,’D’).

In [3]:
m1 = float(input("Enter the marks  first subject: "))
m2 = float(input("Enter the marks second subject: "))
m3 = float(input("Enter the marks third subject: "))
m4 = float(input("Enter the marks fourth subject: "))

avg = (m1 + m2 + m3 + m4) / 4

if avg >= 75:
    grade = 'A'
elif avg >= 60:
    grade = 'B'
elif avg >= 40:
    grade = 'C'
else:
    grade = 'D'
print(f"The average marks are: {avg}")
print(f"The grade is: {grade}")

Enter the marks  first subject:  50
Enter the marks second subject:  48
Enter the marks third subject:  30
Enter the marks fourth subject:  25

The average marks are: 38.25
The grade is: D

15.	Write a program in Python to implement a simple calculator?e is: {grade}")

In [53]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Error! Division by zero."

def calculator():
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")
    choice = input("Enter choice (1/2/3/4): ")

    if choice in ['1', '2', '3', '4']:
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(f"{num1} + {num2} = {add(num1, num2)}")

        elif choice == '2':
            print(f"{num1} - {num2} = {subtract(num1, num2)}")

        elif choice == '3':
            print(f"{num1} * {num2} = {multiply(num1, num2)}")

        elif choice == '4':
            result = divide(num1, num2)
            print(f"{num1} / {num2} = {result}")
    else:
        print("Invalid input")
calculator()

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide

Enter choice (1/2/3/4):  1
Enter first number:  1
Enter second number:  2

1.0 + 2.0 = 3.0

16.	Write a program in Python to find the roots of Quadratic equation?

In [7]:
import cmath

a = float(input("Enter the coefficient a: "))
b = float(input("Enter the coefficient b: "))
c = float(input("Enter the coefficient c: "))

d = b**2 - 4*a*c

r1 = (-b + cmath.sqrt(d)) / (2*a)
r2 = (-b - cmath.sqrt(d)) / (2*a)

print(f"The roots of the quadratic equation are: {r1} and {r2}")

Enter the coefficient a:  50
Enter the coefficient b:  85
Enter the coefficient c:  20

The roots of the quadratic equation are: (-0.28210916541997266+0j) and (-1.4178908345800272+0j)

17.	Write a program in Python to print 1 to n.

In [9]:

def print_numbers(n):
    for i in range(1, n + 1):
        print(i, end=" ")
n = int(input("Enter a number n: "))
print_numbers(n)

Enter a number n:  12

1 2 3 4 5 6 7 8 9 10 11 12

18.	Write a program in Python to print sum of natural number.

In [11]:
n = int(input("Enter a natural number n: "))
sum_n = 0
for i in range(1, n + 1):
    sum_n += i
print(f"The sum of the first {n} natural numbers is: {sum_n}")

Enter a natural number n:  5

The sum of the first 5 natural numbers is: 15

19.	Write a program in Python to print Sum of Digit.

In [13]:
number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    digit = number % 10  
    sum_of_digits += digit 
    number = number // 10  
print(f"The sum of the digits is: {sum_of_digits}")

Enter a number:  5

The sum of the digits is: 5

20.	Write a program in Python to print Factors of a Number?

In [15]:

number = int(input("Enter a number: "))
print(f"The factors of {number} are:")
for i in range(1, number + 1):
    if number % i == 0:
        print(i)

Enter a number:  20

The factors of 20 are:
1
2
4
5
10
20

21.	Write a program in Python to print Reverse of a Number.

In [17]:

number = int(input("Enter a number: "))
reversed_number = 0
while number > 0:
    digit = number % 10  
    reversed_number = reversed_number * 10 + digit  
    number = number // 10  
print(f"The reverse of the number is: {reversed_number}")

Enter a number:  56

The reverse of the number is: 65

22.	Write a Python program to find Factorial of a given number.

In [19]:
number = int(input("Enter a number: "))
factorial = 1
if number < 0:
    print("Factorial is not defined for negative numbers.")
elif number == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, number + 1):
        factorial *= i  
    print(f"The factorial of {number} is: {factorial}")

Enter a number:  20

The factorial of 20 is: 2432902008176640000

23.	Write a Python program to check a number is palindrome or not.

In [21]:

number = int(input("Enter a number: "))
number_str = str(number)
if number_str == number_str[::-1]:
    print(f"{number} is a palindrome.")
else:
    print(f"{number} is not a palindrome.")

Enter a number:  50

50 is not a palindrome.

24.	Write a Python program to check a number is prime or not.

In [51]:

number = int(input("Enter a number: "))
if number <= 1:
    print(f"{number} is not a prime number.")
elif number == 2:
    print(f"{number} is a prime number.")
else:
    is_prime = True
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"{number} is a prime number.")
    else:
        print(f"{number} is not a prime number.")

Enter a number:  5

5 is a prime number.

25.	Write a Python program to check a number is Armstrong or not.


number = int(input("Enter a number: "))
number_str = str(number)
num_digits = len(number_str)
sum_of_powers = sum(int(digit) ** num_digits for digit in number_str)
if sum_of_powers == number:
    print(f"{number} is an Armstrong number.")
else:
    print(f"{number} is not an Armstrong number.")

26.	Write a Python program to print Fibonacci series of n term=a+i

In [29]:
 n=int(input("Enter a range:"))
a=0 
for i in range(1,n+1):
    print(a,end=' ')
    a=a+i

Enter a range: 5

0 1 3 6 10

27.	Write a Python program to implement multiplication table.

In [33]:

number = int(input("Enter a number for the multiplication table: "))
print(f"Multiplication table for {number} up to {limit}:")
for i in range(1, limit + 1):
    print(f"{number} x {i} = {number * i}")

Enter a number for the multiplication table:  5

Multiplication table for 5 up to 10:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

28.	Write a Python program to take a input from user in a list and print it.

In [35]:
input_list = input("Enter elements of the list separated by spaces: ")
elements = input_list.split()
print("The list of elements is:", elements)

Enter elements of the list separated by spaces:  3

The list of elements is: ['3']

29.	Write a Python program to find the average of n numbers using list.

In [37]:

n = int(input("Enter the number of elements: "))
numbers = []
for i in range(n):
    num = float(input(f"Enter number {i + 1}: "))
    numbers.append(num)
total_sum = sum(numbers)
average = total_sum / n
print(f"The average of the numbers is: {average}")

Enter the number of elements:  5
Enter number 1:  1
Enter number 2:  5
Enter number 3:  5
Enter number 4:  4
Enter number 5:  3

The average of the numbers is: 3.6

30.	Write a Python program to find the largest element in the list.

In [39]:

input_list = input("Enter numbers separated by spaces: ")
numbers = [float(num) for num in input_list.split()]
if numbers:
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    print(f"The largest element in the list is: {largest}")
else:
    print("The list is empty.")

Enter numbers separated by spaces:  5

The largest element in the list is: 5.0

31.	Write a Python program to perform Linear search.

In [43]:
n = int(input("Enter the number of elements in the list: "))

arr= []
for i in range(n):
    en =float(input("Enter an element: "))
    arr.append(en)
    
index = -1
target=float(input("Enter the target element"))

for i in range(len(arr)):
    if arr[i] == target:
        index = i
        break

if index != -1:
    print(f"Element found at index {index}")
else:
    print("Element not found")

Enter the number of elements in the list:  5
Enter an element:  1
Enter an element:  2
Enter an element:  3
Enter an element:  4
Enter an element:  5
Enter the target element 3

Element found at index 2

32.	Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [45]:
lines = ["Hello world","Practice makes perfect"]

for i in lines:
    print(i.upper())

HELLO WORLD
PRACTICE MAKES PERFECT

33.	Write a program which accepts a sequence of comma‐separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [47]:

input_numbers = input("Enter a sequence of comma-separated numbers: ")
number_list = input_numbers.split(',')
number_tuple = tuple(number_list)
print(number_list)
print(number_tuple)

Enter a sequence of comma-separated numbers:  '34', '67', '55', '33', '12', '98

["'34'", " '67'", " '55'", " '33'", " '12'", " '98"]
("'34'", " '67'", " '55'", " '33'", " '12'", " '98")

34.	Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200
¡
D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500

In [49]:
user=input("Enter the list of transaction : ")
s=user.split(',')

balance=0
for i in s:
    if "D" in i :
        i=i.replace("D","")
        i=float(i)
        balance=balance+i
    elif "W" in i:  
         i=i.replace("W","")
         i=float(i) 
         balance=balance-i
    else:
        pass

print(f"Total balance is : {balance}")

Enter the list of transaction :   D 500,D 300,W 100,D 200

Total balance is : 900.0